html, body
    margin 0
    height 100%
body
    background-image url('../assets/images/beijing.jpg')
    background-size cover
    background-position center
    font 14px 'microsoft yahei'
    color #4d4d4d
    font-weight 300